// CARD TITLE 1 LINE - COMPARE DISABLED - RATINGS ON
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  120px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  130px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-one-line.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  150px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  130px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  130px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-one-line.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  150px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  150px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}



// CARD TITLE 2 LINES - COMPARE DISABLED - RATINGS ON
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  140px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  150px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-two-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  150px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  150px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-two-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  210px !important;
}



// CARD TITLE 3 LINES - COMPARE DISABLED - RATINGS ON
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  160px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-three-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  170px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-three-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  210px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  210px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  230px !important;
}



// CARD TITLE 4 LINES - COMPARE DISABLED - RATINGS ON
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  180px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-four-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  210px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  190px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-four-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  210px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  210px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  230px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  230px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-on {
  min-height:  250px !important;
}










// CARD TITLE 1 LINE - COMPARE DISABLED - RATINGS OFF
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  100px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  110px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-one-line.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  130px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  110px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-one-line .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  110px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-one-line.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  130px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  130px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-one-line.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}



// CARD TITLE 2 LINES - COMPARE DISABLED - RATINGS OFF
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  120px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  130px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-two-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  130px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-two-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  130px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-two-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-two-lines.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  190px !important;
}



// CARD TITLE 3 LINES - COMPARE DISABLED - RATINGS OFF
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  140px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-three-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-three-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  150px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-three-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  190px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  190px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-three-lines.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  210px !important;
}



// CARD TITLE 4 LINES - COMPARE DISABLED - RATINGS OFF
// BRAND & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-hidden.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  160px !important;
}
// BRAND ACTIVE-1-LINE & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND ACTIVE-2-LINES & SKU HIDDEN
article#pricing-restricted.card.compare-disabled.brand-active.sku-hidden.card-title-four-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  190px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND HIDDEN & SKU ACITVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-four-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  170px !important;
}
// BRAND HIDDEN & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-hidden.sku-active.card-title-four-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  190px !important;
}
// BRAND ACITVE & SKU ACTIVE SEPARATE LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.brand-sku-separate-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  190px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-1-LINE
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.brand-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  210px !important;
}
// BRAND ACTIVE-1-LINE & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  210px !important;
}
// BRAND ACTIVE-2-LINES & SKU ACTIVE-2-LINES
article#pricing-restricted.card.compare-disabled.brand-active.sku-active.card-title-four-lines.brand-2-lines.sku-2-lines .card-body.purchase-ability.prices-hidden.ratings-off {
  min-height:  230px !important;
}
