{{{region name="footer_above_full_width--global"}}}
<footer class="footer" role="contentinfo">
	{{#if settings.show_newsletter_box}}
    <div class="footer-top newsletter">
        <div class="content newsletter">
            <div class="" data-section-type="newsletterSubscription">
                    {{> components/common/subscription-form}}
										<div class="clear"></div>
            </div>
      			<div class="clear"></div>
        </div>
    </div>

		<div class="global-region screen-width below-footer-newsletter">
			<div class="global-region body-width">
				{{{region name="footer_below_newsletter--global"}}}
			</div>
		</div>

   {{/if}}
    <div class="container">
        <section class="footer-info">
         <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h5 class="footer-info-heading">Contact Us</h5>
                <div class="regular">
                    <address>{{nl2br settings.address}}</address>
                </div>

								<div class="global-region container-width"> <!-- can be used for SSL Certificate Seal -->
									{{{region name="footer_below_contact--global"}}}
								</div>
        </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Accounts & Orders</h5>
                <div class="regular">
                <ul class="footer-info-list">
                	{{#if settings.gift_certificates_enabled}}
                        <li>
                            <a href="/giftcertificates.php">Gift Certificates</a>
                        </li>
                    {{/if}}
										{{#if settings.show_wishlist}}
											<li>
												<a href="/wishlist.php">Wishlist</a>
											</li>
										{{/if}}
                    {{#if settings.account_creation_enabled}}
                        {{#if customer}}
                            <li><a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
                            <li><a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a></li>
														<li>
				                        <a href="/account.php?action=order_status">Order Status</a>
				                    </li>
                        {{else}}
                            <li><a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                            {{#if settings.account_creation_enabled}}
                                <span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a></li>
                            {{/if}}
                        {{/if}}
                    {{/if}}

										{{#if theme_settings.show_shipping_returns_link}}
                    	<li>
												<a href="{{theme_settings.shipping_returns_url}}">{{theme_settings.shipping_returns_link_name}}</a>
                    	</li>
										{{/if}}
                </ul>
                </div>

								<div class="global-region container-width"> <!-- can be used for SSL Certificate Seal -->
									{{{region name="footer_below_account--global"}}}
								</div>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Quick Links</h5>
                <div class="regular">
                <ul class="footer-info-list">
                    {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
                </div>

								<div class="global-region container-width">
									{{{region name="footer_below_quick_links--global"}}} <!-- can be used for SSL Certificate Seal -->
								</div>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">

							{{#if settings.blog_enabled}}
                <h5 class="footer-info-heading recent-posts-heading">Recent Blog Posts</h5>
                <div class="blog regular">
                    <ul class="footer-info-list">
                        {{#each (limit blog.recent_posts theme_settings.footer_blog_posts_count)}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
							{{/if}}

                <div class="social-media">
                    {{> components/common/social-links}}
                </div>

							 <div class="global-region container-width"> 	<!-- can be used for SSL Certificate Seal -->
									{{{region name="footer_below_social_links--global"}}}
							 </div>
            </article>
            <div class="clear"></div>

            {{> components/common/payment-icons}}

						<div class="global-region container-width below-payment-icons"> <!-- can be used for SSL Certificate Seal -->
						  {{{region name="footer_below_payment_icons--global"}}}
						</div>

        </section>

        <div class="clear"></div>
    </div>

		<div class="global-region screen-width above-footer-creditsBar">
			<div class="global-region body-width">
				{{{region name="footer_above_credits_bar--global"}}} <!-- can be used for SSL Certificate Seal -->
			</div>
	</div>

    <div class="footer-bottom">
        <div class="content copyright">
					<ul class="site-info">
							{{#if theme_settings.show_copyright_footer}}
											<li class="copyright"><span class="current-year">&copy; <span id="copyright_year"></span> {{settings.store_name}}</span></li>
							{{/if}}

							{{#if theme_settings.show_copyright_footer '===' true}}
								{{#if theme_settings.show_sitemap_link '===' true}}
									{{#if theme_settings.show_powered_by '===' true}}
										<span class="separator"> | </span>
									{{/if}}
								{{/if}}
							{{/if}}

							{{#if theme_settings.show_copyright_footer '===' true}}
								{{#if theme_settings.show_sitemap_link '===' true}}
									{{#if theme_settings.show_powered_by '===' false}}
										<span class="separator"> | </span>
									{{/if}}
								{{/if}}
							{{/if}}

							{{#if theme_settings.show_copyright_footer '===' true}}
								{{#if theme_settings.show_sitemap_link '===' false}}
									{{#if theme_settings.show_powered_by '===' true}}
										<span class="separator"> | </span>
									{{/if}}
								{{/if}}
							{{/if}}

							{{#if theme_settings.show_sitemap_link}}
								<li class="sitemap"><a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a></li>
							{{/if}}

								{{#if theme_settings.show_sitemap_link '===' true}}
									{{#if theme_settings.show_powered_by '===' true}}
										<span class="separator"> | </span>
									{{/if}}
								{{/if}}

							{{#if theme_settings.show_powered_by}}
								<li class="built-by">Premium <a target="_blank" href="https://www.bigcommerce.com/">BigCommerce</a> Theme by <a class="lone-star-templates" target="_blank" href="http://lonestartemplates.com/">Lone Star Templates</a></li>
							{{/if}}
						<div class="clear"></div>
						</ul>
        </div>
    </div>

		<div class="global-region screen-width below-footer-creditsBar">
			<div class="global-region body-width">
				{{{region name="footer_below_credits_bar--global"}}} <!-- can be used for SSL Certificate Seal -->
			</div>
		</div>

    <div id="topcontrol" class="backtoTop" title="Scroll Back to Top">
          <svg class="icon back-to-top-icon" title="submit" alt="submit"><use xlink:href="#icon-caret-square-up"></use></svg>
      </div>
    </footer>
