<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="u-hiddenVisually" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                <div class="search-icon"><svg class="header-icon search-icon" title="submit" alt="submit"><use xlink:href="#icon-search"></use></svg></div>
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="">
            </div>
        </fieldset>
        <div class="clear"></div>
    </form>
    <div id="search-action-buttons" class="search-buttons-container">
      <div class="align-right">
      <!-- <a href="#" class="reset quicksearch" aria-label="reset search" role="button" style="inline-block;">
        <span class="reset" aria-hidden="true">Reset Search</span>
      </a> -->
      <a href="#" class="modal-close custom-quick-search" aria-label="{{lang 'common.close'}}" role="button" style="inline-block;">
        <span aria-hidden="true">&#215;</span>
      </a>
      <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
      <section id="quickSearch" class="quickSearchResults" data-bind="html: results">
      </section>
      <div class="clear"></div>
</div>
