---
blog:
    recent_posts:
        limit: {{theme_settings.footer_blog_posts_count}}
---
{{#partial "page"}}

<main class="page content contact{{#if theme_settings.contact_page_layout '!==' 'no-sidenav'}} contact-page-with-sidenav{{/if}}">

  <div class="contact-page-content">
    {{#if ../theme_settings.contact_page_layout '===' 'no-sidenav'}}
      {{> components/page/contact-page-no-sidenav}}
    {{/if}}
    {{#if ../theme_settings.contact_page_layout '===' 'with-sidenav'}}
      {{> components/page/contact-page-with-sidenav}}
    {{/if}}
    <div class="clear"></div>
  </div>

</main>

{{/partial}}

{{> layout/base}}
