---
blog:
    recent_posts:
        limit: {{theme_settings.footer_blog_posts_count}}
---
{{#partial "page"}}

<main class="page content{{#if theme_settings.content_page_layout '!==' 'no-sidenav'}} content-page-with-sidenav{{/if}}">

  {{{region name="page_builder_content_top--global"}}} 
  {{{region name="page_builder_content_top"}}}

    {{#if ../theme_settings.content_page_layout '===' 'no-sidenav'}}
      {{> components/page/content-page-no-sidenav}}
    {{/if}}
    {{#if ../theme_settings.content_page_layout '===' 'with-sidenav'}}
      {{> components/page/content-page-with-sidenav}}
    {{/if}}

</main>

{{/partial}}

{{> layout/base}}
