{{> components/products/filter sort=pagination.brand.sort}}

{{#if theme_settings.product_layout_view '===' 'grid'}}
  <form class="grid-only" action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
    {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
  </form>
{{/if}}

{{#if theme_settings.product_layout_view '===' 'list'}}
  <form class="list-only" action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
    {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
  </form>
{{/if}}

{{#if theme_settings.product_layout_view '===' 'both_grid_default'}}
  <form class="both-grid-default" action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
    {{> components/products/grid-default products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
    {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
  </form>
{{/if}}

{{#if theme_settings.product_layout_view '===' 'both_list_default'}}
  <form class="both-list-default" action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
    {{> components/products/list-default products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
    {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
  </form>
{{/if}}

{{> components/common/paginator pagination.brand}}
